<div class="container">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"
      >Email address</label
    >
    <input
      type="text"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="name@example.com"
      [(ngModel)]="nombre"
    />
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label"
      >Example textarea</label
    >
    <textarea
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="3"
      [(ngModel)]="texto"
    ></textarea>
  </div>
  <div class="mb-3">
    <button type="button" class="btn btn-primary" (click)="enviarMensaje()">
      Primary
    </button>
  </div>
</div>
