<div class="container">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Cliente</label>
    <input
      type="text"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="Escriba la cédula o R.U.C. del cliente"
      [(ngModel)]="nombre"
    />
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
    <textarea
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="3"
      placeholder="Escriba su mensaje"
      [(ngModel)]="texto"
    ></textarea>
  </div>
  <div class="mb-3">
    <button type="button" class="btn btn-primary" (click)="enviarMensaje()">
      Enviar Mensaje
    </button>
  </div>
</div>
